---
---

@import "main";

html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.content {
  flex: 1 0 auto;
}

.lead {
  font-weight: normal;
  font-size: 20px;
}

.jumbotron {
  background-color: white;
  margin-top: 80px;
  padding-bottom: 0px;
  p {
    font-weight: normal;
  }
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.jumbotron-small {
  background-color: white;
  margin-top: 80px;
}

.home {
  text-align: center;
}

a:hover img {
  background: $white;
}

.services,
.usecase,
.component,
.randd,
.randd2 {
  text-align: left;
  h3 {
    font-size: 14px;
    color: gray;
  }
  h2 {
    margin-top: 0;
  }
  img {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.services {
  padding-top: 120px;
  padding-bottom: 40px;
}

.randd {
  margin-top: 120px;
  background: $background;
  padding-top: 40px;
  padding-bottom: 40px;
  & a:hover img {
    background: $background;
  }
}

.randd2 {
  background: $gray-light;
  padding-top: 40px;
  padding-bottom: 40px;
  & a:hover img {
    background: $gray-light;
  }
}

.card {
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 30px;
  background-color: white;
  img,
  video {
    padding: 10px;
  }
  p {
    padding-left: 20px;
    padding-right: 20px;
  }
  h3 {
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.card-action {
  padding-top: 20px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: underline;
  color: black;

  &:hover {
    text-decoration: none;
    background-color: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
  }

  &.active {
    background-color: $gray-light;
  }
}

section {
  h1 {
    font-weight: bold;
    font-size: 48px;
  }
  h2 {
    font-weight: bold;
    font-size: 32px;
    margin-top: 64px;
    margin-bottom: 24px;
  }
  h3 {
    margin-top: 20px;
    font-weight: normal;
    font-size: 24px;
  }
}

img {
  max-width: 100%;
}

img.shadow {
  background-color: white;
  box-shadow: 0px 0px 5px 5px $gray-light;
}

a.btn {
  padding: 14px 24px;
  text-decoration: none;
  border: 1px solid #ddd;
  font-weight: normal;
  border-radius: 4px;
  &:focus,
  &:active:focus,
  &.active:focus {
    outline: 0 none;
  }
  img {
    max-height: 30px;
    max-width: none;
    display: inline;
  }
}

.btn-primary,
.btn-default {
  background: $gray-light;
}

.btn-primary {
  &:hover,
  &:focus {
    background: #ddd;
  }
  &:active {
    background: #ddd;
    background: #ddd;
    box-shadow: none;
  }
  &.active {
    background: #ddd;
    box-shadow: none;
  }
}

.card {
  border-radius: 0;
}

.min-height {
  min-height: 1000px;
}
