---

---
@import "main";

.lead {
  font-weight: normal;
}

.jumbotron {
  text-align: center;
  background-color: white;
  margin-top: 80px;
  p, h1 {
    font-weight: normal;
  }
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.navbar-toggle .icon-bar {
  background-color: #212121;
}

.home {
  text-align: center;
}

.card {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid #DDD;
  img, video {
    padding: 10px;
  }
  p {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }
  h2 {
    padding-left: 20px;
    padding-right: 20px;
    /*margin-top: 40px;*/
  }
}

.card-action {
  padding-top: 20px;
  margin-bottom: -20px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

li {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #212121;
  &:hover {
    text-decoration: none;
    color: #212121;
  }
  &.active {
    background-color: #EEE;
  }
}

section {
  padding-top: 20px;
  padding-bottom: 180px;
  h1 {
    font-weight: normal;
    font-size: 48px;
  }
  h2 {
    font-weight: normal;
    font-size: 22pt;
    margin-top: 64px;
    margin-bottom: 24px;
  }
  h3 {
    font-weight: 300;
    font-size: 16px;
  }
}

body {
  background-color: #fff;
}

img {
  max-width: 100%;
}

a.btn img {
  max-height: 30px;
  max-width: none;
  display: inline;
}

img.shadow {
  background-color: white;
  box-shadow: 0px 0px 5px 5px #eee;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #EEE;
  	/*box-shadow:0px 5px 20px 20px white;
      filter: alpha(opacity=90); */
  /* For IE8 and earlier */
  li {
    &.active a {
      background-color: #EEE;
    }
    a {
      font-weight: normal;
      font-size: 12pt;
    }
  }
  .navbar-toggle {
    padding: 9px 10px;
  }
  .nav-link {
    color: black;
  }
}

footer {
  text-align: center;
  background-color: #424242;
  color: #595959;
  padding: 64px;
  a {
    color: white;
    &:hover {
      color: #bfbfbf;
    }
  }
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: normal;
  border-radius: 0px;
  &:focus, &:active:focus, &.active:focus {
    outline: 0 none;
  }
}

.btn-primary, .btn-default {
  background: #EEE;
  color: #212121;
}

.btn-primary {
  &:hover, &:focus {
    background: #DDD;
    color: #212121;
  }
  &:active {
    background: #DDD;
    color: #212121;
    background: #DDD;
    box-shadow: none;
  }
  &.active {
    background: #DDD;
    box-shadow: none;
  }
}

.carousel {
  margin-left: 0px;
  margin-right: 0px;
  img, video {
    max-width: 90%;
    max-height: 600px;
    margin: 0 auto;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
  .carousel-indicators {
    li {
      background-color: #9e9e9e;
      color: #9e9e9e;
      width: 7px;
      height: 7px;
      margin-right: 5px;
    }
    .active {
      background-color: black;
      width: 7px;
      height: 7px;
      margin-bottom: 1px;
    }
    li:hover {
      background-color: black;
    }
  }
  .carousel-caption {
    z-index: 10;
    text-shadow: none;
    position: relative;
    left: auto;
    right: auto;
    color: black;
    margin-top: 10;
  }
  .carousel-control {
    visibility: hidden;
  }
  &:hover .carousel-control {
    color: black;
    visibility: visible;
    text-shadow: none;
    background-image: none;
    background: white;
    -webkit-text-stroke: 2px white;
    opacity: 0.6;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    cursor: pointer;
  }
  &.carousel-large .carousel-indicators {
    bottom: -50px;
  }
}

span.glyphicon {
  &.glyphicon-chevron-right, &.glyphicon-chevron-left {
    font-size: 20px;
  }
}

.card {
  border-radius: 0;
  padding: 4px;
}

.modal {
  &.fade {
    .modal-dialog {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .modal-footer {
      text-align: left;
      border: none;
    }
    .modal-header {
      border: none;
    }
  }
  img, video {
    height: auto;
    width: 860px;
    margin: 0 auto;
  }
}

.instructions-item {
  display: none;
  &.selected {
    display: block;
  }
}

.instructions-list {
  .selected {
    background-color: #eee;
  }
  a {
    border: none;
    border-right: 1px solid;
    border-color: #eee;
    border-radius: 0px;
  }
}

.instructions .filler {
  height: 30px;
}

.instructions-list .filler {
  height: 20px;
  border-right: 1px solid;
  border-color: #eee;
}

.download-item {
  margin: 10px;
}

.closer {
  padding-top: 10px;
}

.margin {
  margin: 10px;
}

.padding {
  padding: 10px;
}

.download-button {
  min-width: 400px;
}

.download-active {
  border: 1px solid #EEE;
  &:hover {
    border: 1px solid #e6e6e6;
  }
}

.download-inactive {
  border: 1px solid #e6e6e6;
  &:hover {
    background-color: none;
  }
}

code, pre {
  border-color: transparent;
  color: black;
  background: #eee;
  font-family: monospace;
  font-size: 12pt;
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.vspace {
  margin-top: 64px;
}

.center {
  text-align: center;
}

.topmarker {
  border-top: 1px solid #eee;
}