<script type="text/javascript" id="cookieinfo" src="//cookieinfoscript.com/js/cookieinfo.min.js" data-bg="#212121"
    data-font-family="Helvetica Neue" data-fg="#FFFFFF" data-link="#F1D600" data-cookie="feenk-gtoolkit-cookies"
    data-text-align="center" data-divlinkbg="white" data-divlink="#212121"
    data-message="We want to change the way developers work. This is non-trivial. We use cookies to track site analytics and to learn which parts of our messages work, and which ones don't. By continuing to visit this site you agree to our use of cookies."
    data-linkmsg=''>
</script>