<footer class="mdl-mega-footer mdl-typography--font-light mdl-typography--text-center">
    <p>
        <a href="mailto:contact@feenk.com"><i class="fas fa-envelope fa-fw fa-2x"></i></a>
        <a href="https://github.com/feenkcom/gtoolkit" title="Glamorous Toolkit on GitHub" target="_blank"><i
                class="fab fa-github fa-fw fa-2x"></i></a>
        <a href="https://twitter.com/feenkcom" title="feenkcom on Twitter" target="_blank"><i
                class="fab fa-twitter fa-fw fa-2x"></i></a>
        <a href="https://medium.com/feenk" title="feenk blog on Medium" target="_blank"><i
                class="fab fa-medium-m fa-fw fa-2x"></i></a>
        <a href="https://linkedin.com/company/feenk" title="feenk on LinkedIn" target="_blank"><i
                class="fab fa-linkedin fa-fw fa-2x"></i></a>
    </p>
    <div>
        <a href="https://feenk.com">Glamorously developed by feenk gmbh.</a>
    </div>
</footer>