<script
  src="/assets/js/platform.js"
  type="text/javascript"
  charset="utf-8"
></script>
<script
  src="/assets/js/custom.js"
  type="text/javascript"
  charset="utf-8"
></script>
{% if page.image_stack or page.image_wall %}
<script
  src="/assets/js/image-gallery.js"
  type="text/javascript"
  charset="utf-8"
></script>
{% endif %}
{% if page.image_stack %}
<script
  src="/assets/js/image-stack.js"
  type="text/javascript"
  charset="utf-8"
></script>
{% endif %}
{% if page.image_wall %}
<script
  src="/assets/js/image-wall.js"
  type="text/javascript"
  charset="utf-8"
></script>
{% endif %}
