<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta
    name="description"
    content="Glamorous Toolkit is the moldable development environment"
  />
  <meta name="author" content="feenk.com" />
  <!-- <meta property="og:type" content="website">
	<meta property="og:site_name" content="Glamorous Toolkit">
	<meta property="og:url" content="https://gtoolkit.com/">
  <meta property="og:image" content="https://gtoolkit.com/assets/pictures/gtr-home.png">
  <meta property="og:image:width" content="700" />
  <meta property="og:image:height" content="470" />
  <meta property="og:video" content="https://youtu.be/Pot9GnHFOVU">
  <meta property="og:video:type" content="application/x-shockwave-flash" />
  <meta property="og:video:width" content="555" />
  <meta property="og:video:height" content="310" />
	<meta property="og:description" content="Glamorous Toolkit is the moldable development environment">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Glamorous Toolkit is the moldable development environmen">
  <meta name="twitter:description" content="It is a live notebook. It is a flexible search interface. It is a fancy code editor. It is a software analysis platform. It is a data visualization engine. All in one.">
  <meta name="twitter:image:src" content="https://gtoolkit.com/assets/pictures/gtr-home.png"> -->
  <title>Glamorous Toolkit</title>
  <!-- JS -->
  <script
    src="/assets/js/jquery.min.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script
    src="/assets/js/bootstrap.bundle.min.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <link rel="stylesheet" href="/assets/css/all.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);
    (function () {
      var u = "https://feenk.matomo.cloud/";
      _paq.push(["setTrackerUrl", u + "matomo.php"]);
      _paq.push(["setSiteId", "1"]);
      var d = document,
        g = d.createElement("script"),
        s = d.getElementsByTagName("script")[0];
      g.type = "text/javascript";
      g.async = true;
      g.defer = true;
      g.src = "//cdn.matomo.cloud/feenk.matomo.cloud/matomo.js";
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->
</head>
