<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta
    name="description"
    content="Glamorous Toolkit is the moldable development environment"
  />
  <meta name="author" content="feenk.com" />
  <meta name="keywords" content="moldable development, integrated development environment, IDE, notebook, knowledge management, multi-language, smalltalk, pharo, rust, javascript, pyhton, graphql">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Glamorous Toolkit",
      "url": "https://gtoolkit.com",
      "logo": "https://gtoolkit.com/assets/pictures/glamoroustoolkit-icon",
      "sameAs": [
        "https://twitter.com/feenkcom",
        "https://www.linkedin.com/company/feenk/",
        "https://www.youtube.com/channel/UClLZHVq_-2D2-iI4rA2O8Ug"
      ],
      "contactPoint": [{
        "@type": "ContactPoint",
        "email": "contact@feenk.com",
        "contactType": "customer support",
        "url": "https://gtoolkit.com/contact/"
      }]
    }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://gtoolkit.com",
        "name": "Glamorous Toolkit"
      }
      </script>
  <title>Glamorous Toolkit</title>
  <!-- JS -->
  <script
    src="/assets/js/jquery.min.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script
    src="/assets/js/bootstrap.bundle.min.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <link rel="stylesheet" href="/assets/css/all.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);
    (function () {
      var u = "https://feenk.matomo.cloud/";
      _paq.push(["setTrackerUrl", u + "matomo.php"]);
      _paq.push(["setSiteId", "1"]);
      var d = document,
        g = d.createElement("script"),
        s = d.getElementsByTagName("script")[0];
      g.type = "text/javascript";
      g.async = true;
      g.defer = true;
      g.src = "//cdn.matomo.cloud/feenk.matomo.cloud/matomo.js";
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->
  {% seo %}
</head>
