<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Glamorous Toolkit is the moldable development environment">
    <meta name="author" content="feenk.com">
    <title>Glamorous Toolkit</title>
    <!-- JS -->
    <script src="/assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/bootstrap.bundle.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>