<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white py-0 px-4">
  <a class="navbar-brand" href="/">
    <img src="/assets/pictures/gtoolkit-icon.png" height="24px" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      {% assign doclist = site.pages | sort: 'order' %} {% for item in doclist
      %} {% if item contains "order" %}
      <li>
        <a
          class="nav-item nav-link 
            {% if item.permalink == '/install/' %} 
              nav-link-prominent
            {% endif %} 
            {% if item.permalink != '/install/' and page.permalink == item.permalink or (item.permalink != '/' and page.permalink contains item.permalink) %}
               nav-link-active 
            {% endif %} p-3"
          href="{{ item.url }}"
          >{{ item.title }}</a
        >
      </li>
      {% endif %} {% endfor %}
    </div>
  </div>
</nav>
