<div class="site-header fixed-top">
  <!-- <div class="top-note center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <a href="https://discord.gg/FTJr9gP">Next GT Meetup: April 20, 2026, 16:00 CET</a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container-fluid">
  <nav class="navbar navbar-light navbar-expand-lg site-navbar">
    <a class="navbar-brand site-brand" href="/">
      <img src="/assets/pictures/glamoroustoolkit-icon.png" alt="Glamorous Toolkit" height="28px" />
    </a>

    <button
      class="navbar-toggler site-navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse site-navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav site-nav-list ml-auto">
      {% assign doclist = site.pages | sort: 'order' %} {% for item in doclist
      %} {% if item contains "order" %}
      <li class="nav-item site-nav-item">
          <a
          class="nav-item nav-link site-nav-link
            {% if item.permalink == '/xdownload/' %} 
              nav-link-prominent
            {% endif %}
            {% if page.permalink == item.permalink or (item.permalink != '/' and page.permalink contains item.permalink) %}
               nav-link-active 
            {% endif %}
           "
          href="{{ item.url }}"
          >{{ item.title }}</a
        >
      </li>
      {% endif %} {% endfor %}
      <li class="nav-item site-nav-item">
        <a class="nav-item nav-link site-nav-link"
          href="https://book.gtoolkit.com">Book</a>
      </li>
      <!-- <li class="nav-item site-nav-item">
        <a class="nav-item nav-link site-nav-link"
          href="https://blog.feenk.com">Blog</a>
      </li> -->
    </ul>
  </div>
  </nav>
  </div>
</div>
