<div class="side-menu sticky-top pb-5">
  <nav>
    <ul class="nav flex-column border-top border-left border-right">
      {% assign doclist = site.pages %} 
          {% for item in doclist %} 
            {% if page.permalink == item.permalink or item.permalink == page.parentpermalink %}
              {% if item contains "submenuitems" %} 
                {% include sidemenu_entry.html data=item %}
                  {% for entry in item.submenuitems %} 
                    {% include sidemenu_entry.html data=entry %} 
                  {% endfor %} 
              {% endif %} 
            {% endif %} 
        {% endfor %}
    </ul>
  </nav>
</div>
