<section class="row vspace" id="components">
  <div class="col-lg-12">
    <h1 class="center-text">Components</h1>
  </div>
  <div class="col-lg-12">
    <h2>Playground &amp; Inspector</h2>
  </div>
  <div class="col-lg-4">
    <p class="lead">The Inspector lets you define custom presentations for each and every object. And then it enables you to navigate through them. Inexpensively.</p>
    <p class="lead">The Playground powers up the inspector and makes the code part of the live inspection flow.</p>
  </div>
  <div class="col-lg-8">
    <!-- Carousel (ID playgroundInspector - replace in <li> and carousel-control) -->
    <div id="playgroundInspector" class="carousel slide" data-ride="carousel" data-interval=false>
      <div class="carousel-inner">
        <div class="item active">
          <img src="./pictures/gt-playground-inspector-filesystem.png">
          <div class="carousel-caption">
            <p>The Playground and Inspector can be molded in many ways. For example, for browsing the file system.</p>
          </div>
        </div>
        <!-- <div class="item">
          <video controls="controls">
              <source src="./video/DnaB8N3W4AAu2cu.mp4" type="video/mp4">
          </video>
          <div class="carousel-caption">
              <p>This is some description of the video</p>
          </div>
          </div> -->
        <div class="item">
          <img src="./pictures/gt-playground-inspector-codequery.png">
          <div class="carousel-caption">
            <p>And they can be molded to become a browser for a code query.</p>
          </div>
        </div>
        <div class="item">
          <img src="./pictures/gt-playground-multiple-snippets.png">
          <div class="carousel-caption">
            <p>Playground supports multiple snippets that can be evaluated independently.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel -->
  </div>
  <div class="col-lg-12">
    <h2>Debugger</h2>
  </div>
  <div class="col-lg-4">
    <p class="lead">Debugger is a debugger. Go figure. Only, in true moldable fashion, it also lets you build custom debuggers that can be switched to during debugging time.</p>
  </div>
  <div class="col-lg-8">
    <!-- <p><img src="./pictures/gt-debugger.png"/></p> -->
    <!-- Carousel (ID debugger - replace in <li> and carousel-control) -->
    <div id="debugger" class="carousel slide" data-ride="carousel" data-interval=false>
      <div class="carousel-inner">
        <div class="item active">
          <img src="./pictures/gt-debugger-inspector-exception.png">
          <div class="carousel-caption">
            <p>A Debugger opened on an exception. Inspecting a variable spawns an Inspector.</p>
          </div>
        </div>
        <div class="item">
          <img src="./pictures/gt-debugger-inspector-bytecode.png">
          <div class="carousel-caption">
            <p>A Debugger showing the bytecode of the current execution.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel -->
  </div>
  <div class="col-lg-12">
    <h2>Coder</h2>
  </div>
  <div class="col-lg-4">
    <p class="lead">Coder is for manipulating the static code. It's both standalone and integrated in the Inspector.</p>
  </div>
  <div class="col-lg-8">

    <!-- <p><img src="./pictures/coder.png"/></p> -->
    <!-- Carousel (ID documenter - replace in <li> and carousel-control) -->
    <div id="coder" class="carousel slide" data-ride="carousel" data-interval=false>
      <div class="carousel-inner">
        <div class="item active">
          <img src="./pictures/gt-coder-meta-inspect.png">
          <div class="carousel-caption">
            <p>Coder opened on the class of an object in the Inspector. Evaluating code spawns the result.</p>
          </div>
        </div>
        <div class="item">
          <img src="./pictures/gt-coder-method-implementors.png">
          <div class="carousel-caption">
            <p>A method viewed through Coder in an Inspector. Looking for implementors highlights the results.</p>
          </div>
        </div>
        <div class="item">
          <img src="./pictures/gt-coder-query-highlighting.png">
          <div class="carousel-caption">
            <p>The results of a code query shown highlighted in a Coder interface.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel -->
  </div>
  <div class="col-lg-12">
    <h2>Transcript</h2>
  </div>
  <div class="col-lg-4">
    <p class="lead">Transcript is a stream of events. It's a live visual environment that enables in-place interaction with the logged events.</p>
  </div>
  <div class="col-lg-8">
    <div id="transcript" class="carousel slide" data-ride="carousel" data-interval=false>
      <div class="carousel-inner">
        <div class="item active">
          <img src="./pictures/gt-transcript-animation.png">
          <div class="carousel-caption">
            <p>Transcript used to trace the steps of an animation.</p>
          </div>
        </div>
        <div class="item">
          <img src="./pictures/gt-transcript-reflection.png">
          <div class="carousel-caption">
            <p>Transcript used for teaching reflection. An exception can be expanded in place to show the stack.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <h2>Documenter</h2>
  </div>
  <div class="col-lg-4">
    <p class="lead">Documenter makes creating and consuming code documentation and tutorials a beautiful experience directly in the environment. And it transforms the environment into a data science tool.</p>
  </div>
  <div class="col-lg-8">
    <!-- <p><img src="./pictures/gt-documenter.png"/></p> -->
    <!-- Carousel (ID documenter - replace in <li> and carousel-control) -->
    <div id="documenter" class="carousel slide" data-ride="carousel" data-interval=false>
      <div class="carousel-inner">
        <div class="item active">
          <img src="./pictures/gt-documenter-tour.png">
          <div class="carousel-caption">
            <p>Documenter opened on the Tour document. Clicking on a link spawns an Inspector.</p>
          </div>
        </div>
        <div class="item">
          <img src="./pictures/gt-documenter-examples-tutorial.png">
          <div class="carousel-caption">
            <p>Documenter showing a tutorial. The code changes are embedded as objects.</p>
          </div>
        </div>
        <div class="item">
          <img src="./pictures/gt-documenter-class-comment.png">
          <div class="carousel-caption">
            <p>Documenter tranforms the class comment into a live document.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel -->
  </div>
  <div class="col-lg-12">
    <h2>Visualizer</h2>
  </div>
  <div class="col-lg-4">
    <p class="lead">Visualizer makes visualization a first-class citizen in the environment. It contains a few programmable engines including Mondrian, for drawing graphs, and Connector, for identifying connections between various objects.</p>
  </div>
  <div class="col-lg-8">
    <!--  <p><img src="./pictures/gt-visualizer.png"/></p> -->
    <!-- Carousel (ID visualizer - replace in <li> and carousel-control) -->
    <div id="visualizer" class="carousel slide" data-ride="carousel" data-interval=false>
      <div class="carousel-inner">
        <div class="item active">
          <img src="./pictures/gt-visualizer-two-snippets-mondrian.png">
          <div class="carousel-caption">
            <p>A Mondrian script showing a visualization of a directory structure.</p>
          </div>
        </div>
        <div class="item">
          <img src="./pictures/gt-visualizer-two-snippets-mondrian-directory.png">
          <div class="carousel-caption">
            <p>The visualization is directly clickable: clicking on a node spawns an Inspector.</p>
          </div>
        </div>
        <div class="item">
          <img src="./pictures/gt-connector-examples-code.png">
          <div class="carousel-caption">
            <p>A Connector interactive visualization showing dependencies between examples.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel -->
  </div>
  <div class="col-lg-12">
    <h2>Examples</h2>
  </div>
  <div class="col-lg-4">
    <p class="lead">Examples is a slim engine that lets you define examples throughout the code and use them for documentation or testing. Through Examples, a developer can switch rapidly from the static code to a live environment and program in the presence of objects. In essence, it enables example-driven development.</p>
  </div>
  <div class="col-lg-8">
    <!-- <p><img src="./pictures/gt-examples.png"/></p> -->
    <!-- Carousel (ID examples - replace in <li> and carousel-control) -->
    <div id="examples" class="carousel slide" data-ride="carousel" data-interval=false>
      <div class="carousel-inner">
        <div class="item active">
          <img src="./pictures/gt-examples-nesting-preview.png">
          <div class="carousel-caption">
            <p>Examples can be fine grained and nested arbitrarily. The returned object offers immediate feedback.</p>
          </div>
        </div>
        <div class="item">
          <img src="./pictures/gt-connector-examples-code.png">
          <div class="carousel-caption">
            <p>Examples can be visualized with Connector, too.</p>
          </div>
        </div>
        <div class="item">
          <img src="./pictures/gt-connector-examples-code-preview4.png">
          <div class="carousel-caption">
            <p>Examples are executable. Connector allows us to explore how the overall result is obtained.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel -->
  </div>
</section>