footer {
  flex-shrink: 0;
  color: $gray-verylight;
  background-color: $black;

  .footer-link,
  .footer-credits {
    font-size: $font-size-md;
    a {
      text-decoration: none;
    }
    a:hover {
      color: $gray-verylight;
      text-decoration: none;
    } 
  }

  .footer-logo {
    fill: $white;
    max-width: 40px;

    &:hover {
      fill: $gray-verylight;
    }
  }

  .footer-link {
    color: $white;
    display: inline-block;

    &:hover {
      color: $gray-verylight;
    }
  }
}

footer {
  text-align: center;
  margin-top: 120px;
  pading-top: 120px;
  a:hover {
    text-decoration: none;
    background-color: black;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
  }
}

#floatframe {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 200px;
  z-index: 9999;
  border: 0;
}
