.navbar {
  border-bottom: 1px solid $gray-light;

  .navbar-nav {
    @media screen and (max-width: $screen-md) {
      padding-top: $alert-padding-y;
    }
  }

  .nav-link {
    font-size: $font-size-md;
    &:hover {
      background-color: $gray-light;
    }
    &-active {
      background-color: $gray-verylight;
    }
  }

  .navbar-toggler {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.navbar-light {
  .navbar-toggler {
    color: $black;
    border: initial;
  }

  .navbar-nav {
    .nav-link {
      color: $black;
    }

    .nav-link-active {
      background-color: $gray-light !important;
    }
    .nav-link-prominent {
      background-color: $blue-light;
      color: $white;
    }
  }
}

.navbar .nav-link:hover {
  background-color: $gray-verylight !important;
}


a.navbar-light .navbar-nav .nav-link:hover,
a.navbar-light .navbar-nav .nav-link:focus {
  color: black !important;
}

.navbar-nav li {
  font-weight: normal;
  a {
    text-decoration: none;
  }
}

a.nav-item {
  &:hover {
    text-decoration: none;
    background-color: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
  }
}

a.navbar-brand:hover {
  background: $white;
}
