#navigation {
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: white;
  border-bottom: 1px solid #eee;
  /*box-shadow:0px 5px 20px 20px white;
      filter: alpha(opacity=90); */
  /* For IE8 and earlier */
  li {
    .active a {
      background-color: #eee;
      color: black;
    }
    a {
      font-weight: normal;
      font-size: 12pt;
      color: black;
    }
  }
  .navbar-toggle {
    padding: 9px 10px;
  }
}

.navbar-toggle .icon-bar {
  background-color: #212121;
}
