.sticky-top {
  padding-top: 150px;
  height: 100vh;
}

.side-menu {
  font-weight: normal;
  font-size: $font-size-md;
  text-align: right;
  background-color: white;
  nav {
    height: 100%;
    ul {
      height: 100%;
      margin-top: 0;
      flex-wrap: unset;
      overflow: scroll;
    }
  }
  ul li {
    border: 0px;
  }
  a {
    text-decoration: none;
  }

  .tag {
    padding-top: 15px;
    color: gray;
    text-align: left;
  }

  .nav-link {
    padding: 0;
    text-align: left;
  }
}

