.vspace {
  margin-top: 64px;
}

.center {
  text-align: center;
}

.topmarker {
  border-top: 1px solid #eee;
}

.margin {
  margin: 10px;
}

.padding {
  padding: 10px;
}

.margin-right {
	margin-right: 10px;
}