.vspace {
  margin-top: 60px;
}

.top-small-space {
  margin-top: 30px;
}

.top-space {
  margin-top: 60px;	
}

.bottom-space {
  margin-bottom: 60px;	
}

.top-double-space {
  margin-top: 120px;	
}

.bottom-double-space {
  margin-bottom: 120px;	
}


.center {
  text-align: center;
}

.vcenter {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topmarker {
  border-top: 1px solid #ddd;
}

.bottommarker {
  border-bottom: 1px solid #ddd;
}

.margin {
  margin: 10px;
}

.padding {
  padding: 10px;
}

.margin-right {
	margin-right: 10px;
}

.negative-margin-bottom {
  margin-bottom: -120px;
}

th, td {
  padding: 5px;
  padding-right: 20px;
  padding-left: 0px;
  text-align: left;
}