<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="content">
      {% include navigation.html %}
      <div class="container">
        <div class="row">
          <div class="col-lg-8 min-height">
            {{ content }}
          </div>
          <div class="offset-lg-1 col-lg-3">
            {% include sidebar.html %}
          </div>
        </div>
      </div>
      {% include modal.html %} {% include custom.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
