<section class="row vspace" id="install">
  <div class="col-lg-12">
    <h1>Install</h1>
  </div>
<!--   <div class="col-lg-12">
    <p class="lead">You can obtain Glamorous Toolkit in several ways.</p>
  </div> -->

  <div class="col-lg-12">
    <h2>Download alpha 64bit for Mac, Windows and Linux</h2>
  </div>


  <div class="col-lg-12">
      <span class="padding">
        <a href="https://dl.feenk.com/gt/GToolkitOSX64.zip" class="download-button btn btn-lg btn-margin btn-default download-active" data-switcher-content="os x">
          <i class="fa fa-apple fa-fw"></i>GToolkit alpha for Mac
        </a>
      </span>
      <span class="padding">
          <a href="https://dl.feenk.com/gt/GToolkitLinux64.zip" class="download-button btn btn-lg btn-margin download-inactive" data-switcher-content="linux">
            <i class="fa fa-linux fa-fw"></i>GToolkit alpha for Linux
          </a>
      </span>
      <span class="padding">
        <a href="https://dl.feenk.com/gt/GToolkitWin64.zip" class="download-button btn btn-lg btn-margin download-inactive" data-switcher-content="windows">
          <i class="fa fa-windows fa-fw"></i>GToolkit alpha for Windows
        </a>
      </span>
  </div>

  <div class="col-lg-12">
    <h2>Run the alpha 64bit image for Mac and Linux</h2>
  </div>

  <div class="col-lg-12">
    <div class="instructions-item selected" area-labelledby="image64">
      <ol>
        <li class="lead">Get <a href="http://pharo.org/download" class="btn btn-lg btn-default">the latest Pharo Launcher</a> specific to your system.</li>
        <li class="lead">Get <a href="https://dl.feenk.com/gt/GToolkit64.zip" class="btn btn-lg btn-default">the latest GToolkit64.image</a>.</li>
        <li class="lead">Open Pharo Launcher.</li>
        <li class="lead">Choose to Launch an image from the file system. <img src="pictures/pharo-launcher-menu.png"/></li>
        <li class="lead">Choose the downloaded image. <img src="pictures/pharo-launcher-image.png"/></li>
      </ol>
    </div>
  </div>

  <div class="col-lg-12">
    <h2>Load the alpha code in Pharo 7.0</h2>
  </div>

  <div class="col-lg-12">
    <div class="instructions-item selected" area-labelledby="pharo-70">
      <ol>
        <li class="lead">Get <a href="http://pharo.org/download" class="btn btn-lg btn-default">Pharo 7.0</a> specific to your system</li>
        <li class="lead">Execute the following code in the Playground of the Pharo 7.0 image (can take 20+ minutes):
          <pre>EpMonitor current disable.
[ 
    Metacello new
         baseline: 'GToolkit';
          repository: 'github://feenkcom/gtoolkit/src';
          load
] ensure: [ EpMonitor current enable ].
#GtWorld asClass openTour.</pre>
          <p class="lead">Executing the above code loads all code related to Glamorous Toolkit and the extra plugin for the Pharo virtual machine that enables beautiful rendering. It also opens a live document that provides a guided tour.</p>
        </li>
      </ol>
    </div>

  </div>
</section>

  </div><!-- /container -->