// Colors
$white: #ffffff;
$black: #000000;
$gray-base: #373737;
$gray-dark: #bfbfbf;
$gray-darker: #424242;
$gray-light: #eeeeee;

// Font sizes
$font-size-md: 14px;

// Breakpoints
$screen-md: 992px;
