// Colors
$white: #ffffff;
$black: #000000;
$gray-base: #373737;
$gray-dark: #bfbfbf;
$gray-darker: #424242;
$gray-light: #eee;
$gray-verylight: #ddd;
$background: #f6f6f6;
$blue-light: #0066C8;
$blue-dark: #005BB2;

// Font sizes
$font-size-md: 14px;

// Breakpoints
$screen-md: 992px;
