html,
body {
  height: 100%;

}

body {
  font-family: "sources-regular", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  display: flex;
  flex-direction: column;
  background-color: #fff;
  letter-spacing: -0.1px;
}

.content {
  flex: 1 0 auto;
}

.lead {
  font-weight: normal;
  font-size: 20px;
}

.jumbotron {
  background-color: white;
  margin-top: 80px;
  padding-bottom: 0px;
  p: {
    font-weight: normal;
  }
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1 {
    font-family: "sources-bold", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-size: 48px;
  }
}

.jumbotron-small {
  background-color: white;
  margin-top: 120px;
}

.home {
  text-align: center;
}

a:hover img {
  background: $white;
}

.card {
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 30px;
  background-color: white;
  img,
  video {
    padding: 10px;
  }
  p {
    padding-left: 20px;
    padding-right: 20px;
  }
  h3 {
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: underline;
  color: black;

  &:hover {
    text-decoration: none;
    background-color: $gray-dark;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
  }

  &.active {
    background-color: $gray-light;
  }
}

section {
  h1 {
    font-family: "sources-bold", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-size: 40px;
  }
  h2 {
    font-family: "sources-bold", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-size: 32px;
    margin-top: 48px;
  }
  h3 {
    margin-top: 20px;
    font-weight: normal;
    font-size: 24px;
  }
}

img {
  max-width: 100%;
}

img.shadow {
  background-color: white;
  box-shadow: 0px 0px 5px 5px $gray-light;
}

a.btn {
  padding: 14px 24px;
  text-decoration: none;
  border: 1px solid #ddd;
  font-weight: normal;
  border-radius: 4px;
  &:focus,
  &:active:focus,
  &.active:focus {
    outline: 0 none;
  }
  img {
    max-height: 30px;
    max-width: none;
    display: inline;
  }
}

.btn-default {
  background: $gray-light;
}

.btn-primary {
  background: $blue-light;
  border: 1px solid $blue-dark;
  &:hover,
  &:focus {
    background: $blue-dark;
  }
  &:active {
    background: $blue-dark;
    box-shadow: none;
  }
  &.active {
    background: $blue-dark;
    box-shadow: none;
  }
}

.card {
  border-radius: 0;
}

.min-height {
  min-height: 1500px;
}

.usecase {
  text-align: left;
  h3 {
    font-size: 20px;
    color: gray;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  simg {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.padding-top-large {
  padding-top: 120px;
}

.padding-top-medium {
  padding-top: 40px;
}

.padding-bottom-large {
  padding-bottom: 120px;
}

.padding-bottom-medium {
  padding-bottom: 40px;
}

@mixin sectionWithBackground($color) {
  background: $color;
  & a:hover img {
    background: $color;
  }
}

.section-light {
  padding-top: 40px;
  padding-bottom: 40px;
   @include sectionWithBackground($gray-light);
}


.top-note {
  background-color: $black !important;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $white;
  a {
    color: $white;
  }
}

.list-group {
  border-left: none;
}

.list-group-item.active {
  background-color: $gray-light;
  color: black;
  border: 0px;
}

.list-group-item-action {
  color: black;
  h4 {font-weight: bold;}
}

a.list-group-item {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.list-group-item {
  border: 0px;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}


