.sample {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  img,
  video {
    max-width: 99%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px #aaa;
  }
  .picture-caption {
    p {
      color: gray;
      font-size: 14px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.download-item {
  margin: 10px;
}

.download-active {
  border: 1px solid $gray-light;
  &:hover {
    border: 1px solid #e6e6e6;
  }
}

.download-inactive {
  border: 1px solid #e6e6e6;
  &:hover {
    background-color: none;
  }
}

a.overview {
  text-decoration: none;
  &:hover {
    background: $white;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

code {
  color: $black;
}